* {margin: 0; padding: 0;}
.clear {clear: both; }
body{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #fff;
	background:url(images/bg.jpg) top center no-repeat;
}





#wrapper{
	width:970px;
	margin:0 auto; 
	
}

#header{
	height:196px; 
	width:970px; 
	background:url(images/header.jpg) no-repeat;
}

#header #logo a{
	float:left;
	width:226px;
	height:35px;
	margin:9px 0 0 33px;
	background:url(images/logo.png);
	text-indent:-9999px;
}

#header #requestInformation{
	float:right;
	margin:173px 63px 0 0;
	color:#958656;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}

#header #requestInformation b{
	color:#958656;
}

#contentWrapper{
	width:970px;
}

#leftCol{
	height:708px; 
	width:312px;
	padding:150px 0 0 40px;
	float:left; 
	background:url(images/leftCol.jpg) no-repeat;
}

#leftCol h1{
	font-size:17px; 
	font-weight:bold; 
	color:#958656;
	padding:0 0 15px 0;
	
}

#leftCol h3{
	font-size:14px;
	font-weight:bold;
	color:#958656;
	padding:2px 0 0 0;
}

#leftCol p#headerOnePara{
	font-size:14px;
	color:#958656;
	padding:0 0 15px 0;
	line-height:17px;
}

#leftCol h2{
	font-size:12px;
	font-weight:bold;
	color:#094b2d;
	margin:2px 0 0 0;
}

#leftCol #masters{
	font-size:14px;
	font-weight:bold;
	color:#094b2d;
	margin:6px 0 0 0;
}

#leftCol ul{
	margin:2px 0 7px 0;
	padding:0 0 2px 0;
}

#leftCol ul li{
	display:block;
	font-size:12px;
	color:#958656;
	line-height:15px;
	list-style:none;
}

#leftCol #fullsailEdu{
	font-size:12px;
	color:#958656;
	font-weight:bold;
	margin:-3px 0 0 0;
}

#leftCol #fullsailEdu b{
	color:#094b2d;
	text-decoration:none;
}

#centerCol{
	height:860px;
	width:268px;
	float:left;
	background:url(images/midCol.jpg) no-repeat;
}

#rightCol{
	height:860px; 
	width:350px; 
	float:right;
	background:url(images/rightCol.jpg) no-repeat;
}

#rightCol #formWrapper{
	width:344px;
	margin:27px 0 0 0;
	
}

#rightCol #formWrapper #pleaseSelect{
	font-size:10px;
	color:#fff;
	margin:0 0 6px 50px;
}

#rightCol #formWrapper #AdProgramID{
	width:255px;
	border:none; 
	padding:3px 0;
	margin:0 0 10px 0;
	
}

#rightCol #formWrapper .formfield{
	color:#fff;
	text-align:right; 
	padding:0 18px 0 0; 
	font-size:10px;
	font-weight:bold;
}

#rightCol #formWrapper .formfield td{
	padding:0 0 10px 0;
}

#rightCol #formWrapper .formfield .asterisk, .asterisk{
	color:#a7a9ac;
	font-size:12px;
}

#rightCol #formWrapper .formfield input, #formWrapper .formfield select{
	width:200px;
	border:none; 
	padding:2px 0;
}

#rightCol #formWrapper .formSubHeader{
	width:344px;
	text-align:center;
	color:#fff;
	font-weight:normal;
	font-size:12px; 
	padding:0 0 10px 0;
}

#rightCol #formWrapper #submit_btn{
	width:97px;
	height:23px;
	margin:0 0 0 54px;
	/*display:block;*/
	background:url(images/submitButton.jpg) no-repeat;
	text-indent:-9999px;
}

#rightCol #formWrapper #required{
	float:right;
	margin:5px 45px 0 0;
	color:#fff;
}

#rightCol #formWrapper .thank-you-landing{
	color:white;
	width:233px;
	margin:46px;
	text-align:center;
}

#footerWrapper{
	text-align: center; 
	font-size: 11px;
	padding-top: 20px;
	margin: 0 auto;
	width: 970px;
}

#footerWrapper a{
	color:#094b2d;
}

#footerWrapper #moreInfoStatement{
	color:#958656;
}

#footerWrapper #copyrightStatement{
	color:#424025;
	margin:10px;
}

#footerWrapper #privacyStatement{
	color:#6e8482;
	margin:10px 0 30px 0px;
}

/*	 #submit_btn {
		padding-left: 50px;
		
	 }
*/
